
/* Style for Contact Page */
.Contact {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 12px;
    text-align: center;
    background-color: rgb(167, 221, 221);
}
form {
    background-color: white;
    display: inline-block;
    padding: 50px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0,
    0, 0.1);
}
label {
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #12caa2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;             
    cursor: pointer;
}
button:hover {
    background-color: #92e9d6;
}

button:active {
    background-color: #0e8c6a;
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px #12caa2;
}
h2 {
    margin-bottom: 20px;
    align-content: center;
}

/* Style for Home Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #12caa2;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 4px 0;
    text-align: center; ;
}
nav a {
    margin: 0 35px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    color: #647e78;
}
main {
    padding: 20px;
}
footer {
    background-color: #12caa2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
h1 {
    color: #12caa2;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
a {
    color: #12caa2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}   
.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #12caa2;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover {
    background-color: #0e8c6a;
}
.button:active {
    background-color: #0b5d4a;
}
.button:focus {
    outline: none;
    box-shadow: 0 0 5px #12caa2;
}   
.section {
    margin: 20px 0;
}
.section h2 {
    color: #12caa2;
}
.section p {
    font-size: 16px;
    line-height: 1.5;
}   
.section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.section ul {
    list-style-type: square;
    margin: 10px 0 10px 20px;
}
.section ul li {
    margin: 5px 0;
}       
/* Style for About Page */
.About {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 12px;
    text-align: center;
    background-color: rgb(167, 221, 221);
}
h2 {
    margin-bottom: 20px;
    align-content: center;
}               
p {
    font-size: 18px;
    line-height: 1.6;
}   
a {
    color: #12caa2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.section {
    margin: 20px 0;
}
.section h2 {                       
    color: #12caa2;
}
.section p {
    font-size: 16px;
    line-height: 1.5;
}   
.section img {
    max-width: 100%;
    height: auto;               
    border-radius: 10px;
}
.section ul {
    list-style-type: square;
    margin: 10px 0 10px 20px;
}
.section ul li {
    margin: 5px 0;
}
